.button-group {
  --rounded: 10px;
  --color-orange: #FFC131;
  --color-blue: #24C8DB;
  display: flex;
  padding: 4px;
}

.button-group>.btn {
  cursor: pointer;
  flex: 1;
  padding: 0.3rem 0.8rem;
  background-color: var(--color-blue);
  border: none;
  margin: 0;
}

.button-group>.btn:hover {}

.button-group>.btn:first-of-type {
  border-radius: var(--rounded) 0 0 var(--rounded);
  border-right: 1px solid white;
}

.button-group>.btn:last-of-type {
  border-radius: 0 var(--rounded) var(--rounded) 0;
  border-left: 1px solid white;
}

.button-group>.btn.active {
  background-color: var(--color-orange);
}

.button-group>.btn.active:hover {}